name: CI

on: [push]

jobs:
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Push to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            sudo chown -R ${{ secrets.SERVER_USERNAME }}:${{ secrets.SERVER_USERNAME }} .
            git config --global --add safe.directory ${{ secrets.PROJECT_PATH }}
            git stash -u
            git pull origin main
            git stash pop || true
            cd dark/              # Aller dans le sous-dossier Next.js
            npm install           # Installer les nouvelles dépendances si besoin
            npm run build         # Re-builder l'app Next.js
            pm2 restart portfolio # Redémarrer le processus PM2
